* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

body {
  background: #F8FBFF; }

li {
  list-style: none; }

a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif; }

input {
  display: none; }

label {
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 400;
  border-radius: 7px; }

nav li, header label, .categorias div a {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  flex-flow: column; }

nav ul, header, .h-contacto {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 20px; }

nav {
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
  z-index: 1; }
  nav > a {
    display: block;
    background-image: url(../img/logo-vurpiz.svg);
    background-repeat: no-repeat;
    width: 37px;
    height: 37px;
    margin: auto;
    margin-left: 1em; }
  nav #btn-menu:checked ~ ul {
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    transition: 0.3s ease-out all; }
    nav #btn-menu:checked ~ ul li {
      opacity: 1;
      transition: 0.3s ease-out all;
      transition-delay: 0.2s; }
  nav #btn-menu:checked ~ label p {
    overflow: hidden;
    transition: 0.3s ease-out all;
    width: 0px;
    opacity: 0;
    transition: 0.3s ease-out all; }
  nav #btn-menu:checked ~ label .btn-equis {
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
    transition: 0.3s ease-out all; }
  nav #btn-menu:checked ~ label .btn-equis::after {
    width: 0px;
    transition: 0.3s ease-out all; }
  nav #btn-menu:checked ~ label .btn-equis::before {
    top: 0px;
    transform: translate(-50%, -50%);
    transform: rotate(-90deg);
    transition: 0.3s ease-out all; }
  nav #btn-menu:checked ~ label:hover .btn-equis::before {
    width: 23px; }
  nav > label:hover p {
    font-weight: bolder;
    transition: 0.3s all ease-out; }
  nav > label:hover .btn-equis::after {
    width: 15px;
    transition: 0.3s ease-out all; }
  nav > label:hover .btn-equis::before {
    width: 19px;
    transition: 0.3s ease-out all; }
  nav > label {
    margin: auto;
    margin-left: auto;
    margin-right: 1em;
    display: flex; }
    nav > label p {
      width: 40px;
      opacity: 1;
      overflow: hidden;
      transition: 0.3s ease-out all;
      font-weight: 300;
      transition: 0.3s all ease-out; }
    nav > label .btn-equis {
      width: 23px;
      height: 2px;
      background: black;
      margin: auto;
      margin-left: 2px;
      border-radius: 10px;
      position: relative;
      left: 0; }
    nav > label .btn-equis::before {
      content: " ";
      display: block;
      width: 23px;
      height: 2px;
      position: relative;
      top: -6px;
      border-radius: 10px;
      transition: 0.3s ease-out all;
      background: blue; }
    nav > label .btn-equis::after {
      content: " ";
      display: block;
      width: 23px;
      height: 2px;
      position: relative;
      top: 4px;
      border-radius: 10px;
      transition: 0.3s ease-out all;
      background: red; }
  nav ul {
    position: fixed;
    z-index: -1;
    background: white;
    width: 100vw;
    height: 0vh;
    top: 0px;
    left: 0px;
    padding: 1em;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    text-align: center;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    transition: 0.3s ease-out all; }
  nav li {
    opacity: 0;
    grid-column-start: 1;
    grid-column-end: 7;
    width: 80%;
    height: 100%;
    margin: auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    transition: 0.3s ease-out all; }
  nav li:last-child {
    border: none; }

header {
  padding-top: 100px;
  width: 100%;
  height: 95vh; }
  header h1 {
    grid-column-start: 2;
    grid-column-end: 6;
    text-align: center; }
  header h2 {
    font-size: 0.75em;
    letter-spacing: 0.125em;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 6;
    margin-top: auto; }
  header label {
    grid-column-start: 2;
    grid-column-end: 6;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    border: gray solid 2px;
    background: gray;
    box-shadow: 0px 3px 8px -5px rgba(0, 0, 0, 0.9);
    transition: 0.3s ease-out all;
    text-align: center;
    height: 2.5em;
    color: white; }
  header label:hover {
    top: -5px;
    box-shadow: 0px 8px 8px -5px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-out all; }
  header p {
    grid-column-start: 2;
    grid-column-end: 6;
    text-align: center;
    font-size: 0.675em;
    letter-spacing: 0.125em; }

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 0.2em;
  padding: 0.3em 0.4em;
  font-size: 2em;
  text-align: center;
  background: black; }
  footer a {
    color: white; }

.categorias {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 1fr 1fr; }
  .categorias div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-out all; }
    .categorias div a {
      width: 95%;
      height: 95%; }
  .categorias div:hover {
    border-bottom: 1px solid transparent;
    box-shadow: 0px 3px 8px -5px rgba(0, 0, 0, 0.7);
    transition: 0.3s ease-out all; }

.h-contacto {
  grid-template-rows: 2fr 6fr;
  height: 100vh;
  padding: 1.2em;
  padding-top: 60px; }
  .h-contacto p {
    grid-column-start: 1;
    grid-column-end: 7;
    font-size: 1.2em; }
  .h-contacto form {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 7; }
    .h-contacto form input {
      display: block;
      background: none;
      font-family: "Open Sans", sans-serif;
      border: none;
      border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
      transition: 0.3s ease-out;
      padding-bottom: 2px;
      padding-left: 8px;
      margin-bottom: 1em;
      width: 100%; }
    .h-contacto form input::placeholder {
      color: black;
      transition: 0.3s ease-out;
      font-family: "Lato", sans-serif;
      font-style: italic; }
    .h-contacto form input:focus::placeholder {
      color: rgba(0, 0, 0, 0.4);
      transition: 0.3s ease-out;
      letter-spacing: 1px; }
    .h-contacto form input:focus {
      font-size: 1rem;
      border-bottom: 1px black solid;
      transition: 0.3s ease-out; }
    .h-contacto form textarea {
      height: 150px;
      margin-top: 1em;
      background: none;
      border: 1px rgba(0, 0, 0, 0.1) solid;
      padding-left: 8px;
      padding-top: 6px;
      transition: 0.3s ease-out;
      border-radius: 8px;
      width: 100%;
      resize: none; }
    .h-contacto form textarea::placeholder {
      color: black;
      transition: 0.3s ease-out;
      font-family: "Lato", sans-serif;
      font-style: italic; }
    .h-contacto form textarea:focus {
      border: 1px solid black;
      transition: 0.3s ease-out; }
    .h-contacto form textarea:focus::placeholder {
      color: rgba(0, 0, 0, 0.4);
      transition: 0.3s ease-out;
      letter-spacing: 1px; }

/*# sourceMappingURL=main.css.map */
