.h-contacto
  @extend %column-phone
  grid-template-rows: 2fr 6fr
  height: 100vh
  padding: 1.2em
  padding-top: 60px

  p
    grid-column-start: 1
    grid-column-end: 7
    font-size: 1.2em

  form
    width: 100%
    grid-column-start: 1
    grid-column-end: 7

    input
      display: block
      background: none
      font-family: 'Open Sans', sans-serif
      border: none
      border-bottom: 1px rgba(black, .1) solid
      transition: .3s ease-out
      padding-bottom: 2px
      padding-left: 8px

      margin-bottom: 1em
      width: 100%

    input::placeholder
      color: black
      transition: .3s ease-out
      font-family: 'Lato', sans-serif
      font-style: italic

    input:focus::placeholder
      color: rgba(black, .4)
      transition: .3s ease-out
      letter-spacing: 1px

    input:focus
      font-size: 1rem
      border-bottom: 1px rgba(black, 1) solid
      transition: .3s ease-out
      outline: 0px

    textarea
      height: 150px
      margin-top: 1em
      background: none
      border: 1px rgba(black, .1) solid
      padding-left: 8px
      padding-top: 6px
      transition: .3s ease-out
      border-radius: 8px
      width: 100%
      resize: none

    textarea::placeholder
      color: black
      transition: .3s ease-out
      font-family: 'Lato', sans-serif
      font-style: italic

    textarea:focus
      border: 1px solid black
      transition: .3s ease-out

    textarea:focus::placeholder
      color: rgba(black, .4)
      transition: .3s ease-out
      letter-spacing: 1px

@media only screen and (min-width: 768px)
