
$color-texto1: #f9f9f9
$color-texto2: #d6c8ac
$color-primario1: #201c22
$color-primario2: #6c6b6d
$color-secundario1: #b6934f
$color-secundario2: #2f2101
$texto-primario: 'Source Sans Pro', sans-serif
$texto-secundario: 'Raleway', sans-serif

*
  padding: 0px
  margin: 0px
  box-sizing: border-box
  color: $color-texto1

body
  background: $color-primario1

li
  list-style: none

a
  text-decoration: none
  font-family: $texto-primario
  -webkit-touch-callout: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

input
  display: none

%portafolio-style
  cursor: pointer
  font-family: $texto-primario
  font-weight: 300
  border-radius: 10em
  letter-spacing: 2px
  font-size: 1.5em
  padding: .4rem

  border: $color-secundario1 solid 1px
  background: linear-gradient(rgba($color-texto2, .9) , rgba(#f3d995, 1) 50%, rgba($color-secundario1, 1) )
  transition: 1.3s ease-out all
  transition-delay: .2s
  text-align: center
  width: 90%
  color: $color-texto1

%centrar-fun
  display: flex
  text-align: center
  align-content: center
  justify-content: center
  flex-flow: column

%column-desk
  display: grid
  grid-template-columns: repeat(12, 1fr)
  column-gap: 20px

%column-phone
  display: grid
  grid-template-columns: repeat(6, 1fr)
  column-gap: 20px
