
$primary-font-color: #f9f9f9
$second-font-color: #24385d
$third-font-color: #384064
$background-color: #bec2cd
$portfolio-color: #4e4967
$txt-font: 'Open Sans', sans-serif
$txt-aux-font: 'Open Sans', sans-serif
$btn-font: 'Lato', sans-serif

*
  padding: 0px
  margin: 0px
  box-sizing: border-box
  color: $primary-font-color

body
  background: $background-color


li
  list-style: none

a
  text-decoration: none
  font-family: 'Open Sans', sans-serif
  -webkit-touch-callout: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

input
  display: none

%portafolio-style
  cursor: pointer
  font-family: 'Lato', sans-serif
  font-style: italic
  font-weight: 400
  border-radius: 10em

  border: $portfolio-color solid 3px
  background: rgba($portfolio-color, 1)
  box-shadow: 0px 3px 8px -5px rgba(black, .9)
  transition: 1.3s ease-out all
  transition-delay: .3s
  text-align: center
  width: 90%
  height: 3em
  color: white

%centrar-fun
  display: flex
  text-align: center
  align-content: center
  justify-content: center
  flex-flow: column

%column-desk
  display: grid
  grid-template-columns: repeat(12, 1fr)
  column-gap: 20px

%column-phone
  display: grid
  grid-template-columns: repeat(6, 1fr)
  column-gap: 20px
